.suggestion {
  display: grid;
  grid-template-columns: 32px 2fr 1fr;
  align-items: center;
  margin-bottom: 0.5em;
  .suggestion__avatar {
    justify-self: center;
  }
  .suggestion__username {
  }
  .suggestion__btn {
    justify-self: right;
  }
}
